.topbar{
    background-color:rgb(83, 148, 86);
    height: 50px;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1000;
    align-items: center;
    padding-left: 10px;
}

main{
    padding: 20px;
}

.logo{
    width: 250px;
    height: 50px;
    font-size: 30px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}