
.tradingViewsize{
    width:48vw;
    height: 70vh;
}

.videoWithButton{
    display: flex;
    width:33%;
    flex-direction: column;
    align-items: center;
}

.videoWithButton video{
    width:100%;
}

.videoWithButton video{
    color:white;
}

.topbar{
    background-color:rgb(83, 148, 86);
    height: 50px;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1000;
    align-items: center;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 4vw;
}

a{
    text-align: center;
}

h1{
    text-decoration: none;
    font-size:2.5vw;
    color:black;
    
}

h2{
    font-size: 2vw;
    text-decoration: underline;
}

main{
    padding: 30px;
    padding-top: 150px;
    font-size: 40px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo{
    font-size: 1.5vw;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    line-height: 50px;
    min-width: 200px;
    width : 250px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    padding-bottom:100px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.8vw;
}

.rightSide {
    display: flex;
    gap: 20px;
    padding-bottom:200px;
}

.navigationLinks {
    display: flex;
    gap: 10vw;
}

.link {
    color: black;
    font-size: 1.2vw;
}


.newsSection {
    text-align: center;
    font-size: 1.5vw;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 750px;
}

.newsHomepage {
    text-align: center;
    font-size: 25px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    max-width:fit-content;
    background-color: rgb(89, 168, 214);
}

.newsItem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 130px;
    padding-left: 50px;
    padding-right: 50px;
}

.newsImage {
    max-width: 60%;
    height: auto;
    object-fit: cover;
    justify-content: center;

}

.newsIndividual {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 500px;
}

.video {
    width:33%;
    height:auto;
}

.ticker {
    padding-top: 40px;
    width: 100%;
    z-index: 900;
    position: fixed;
}

.newsPageContent{
    display:flex;
    flex-direction: column;
    gap: 70px;
}

.newsArticles{
    text-align: center;
    padding-top:70px;
}

.newsContent{
    display:flex;
    flex-direction: row;
    gap:20px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.brokerImage{
    max-height:300px;
    width:30vw;
    height:auto;
}

.brokersPage{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap:1vh;
}

.slideTopPicks{
    width:100vw;
    height:100vh;
}

.brokerImage1{
    width: 30%;
    height: 30%;
    max-width: 1080px;
    max-height: 1080px;
}

.howToInvest1{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    gap: 20px;
    font-size: 2.2vw;
    align-items: center;
    align-content: center;
}

.investParagraph{
    display: flex;
    flex-direction: column;
    max-width: 60vw;
}
